.container {
    padding: 0% !important;
    margin-top: 1vh;
    margin-bottom: 0%;
    /* border-bottom: 6.1vh solid #ff9d76 !important; 
     border-radius: 2vh !important;  */
}

body {
    padding-left: 0px !important;
    margin-top: 0px !important;
}

.nav-bar {
    background-color: white;
    padding-right: 1vw;
}

.leftnav {
    margin-left: 5vw;
}

.rightnav a {
    color: black;
}

.mainlogo {
    width: 300px;
    height: 100px;
    background-color: none;
}

.rightnav a.selected {
    background-color: rgb(255, 87, 1);
    border-radius: 30px;
    color: black;
    margin-right: 0vw;
    width: 130px;
    height: 30px;
    text-align: center;
    padding: 0px;
}


.image-container {
    flex: 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image {
    margin-right: 10vw;
    margin-top: 10vw;
    width: 75%;
    /* Adjust the width of the image as needed */
    height: 70%;
}

.info-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: 'inline-block';
}

/* padding: '10px 20px',
      backgroundColor: '#3498db',
      color: '#fff',
      border: 'none',
      borderRadius: '5px',
      textDecoration: 'none',
      display: 'inline-block',
      textAlign: 'center',
      lineHeight: 'initial', */

.tooltip {
    position: absolute;
    bottom: -40px;
    /* Adjust the position as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    white-space: nowrap;
    max-height: 135px;
    min-height: min-content;
}

/* In your CSS file */
.custom-tooltip .tooltip-inner {
    /* Remove max-width */
    background-color: transparent;
    /* Set the background color to white */
    color: #000000;
    border: none;
    /* Remove any borders */
    box-shadow: none;
    /* Remove box shadows if any */
    width: auto;
    /* Allow tooltip width to fit content up to a point */
    min-width: 100px;
    /* Minimum width of the tooltip */
    max-width: 130px;
    /* Maximum width of the tooltip - adjust as needed */
    white-space: normal;
    /* Allow text to wrap to the next line */
    text-align: left;
    /* Align text to the left */
}

/* .custom-tooltip .arrow::before {
    display: none; 
  }
   */

/* In your CSS file */
.data-source-button {
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: 'inline-block';
}